
<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col style="border: 2px purple solid;text-align: center;"><b>Day2</b> - 01.12.2020 (Tuesday)
        </ion-col>
    </ion-row>
    <ion-row><ion-col style="border: 2px purple solid;text-align: center;font-size: small;">Timings</ion-col>
    <ion-col style="border: 2px purple solid;text-align: center;font-size: small;">Events</ion-col>
    <ion-col style="border: 2px purple solid;text-align: center;font-size: small;">Venue</ion-col></ion-row>
    <ion-row *ngFor="let obj of scheduleDay2">
      <ion-col style="border: 2px purple solid;text-align: center;font-size: small;">{{obj.time}}</ion-col>
      <ion-col style="border: 2px purple solid;text-align: center;font-size: small;">{{obj.event}}</ion-col>
      <ion-col style="border: 2px purple solid;text-align: center;font-size: small;">{{obj.venue}}</ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
