<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start" style="color: white;">
      <ion-menu-button>
      </ion-menu-button>
    </ion-buttons>
    <ion-title style="color: white;">Guests</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
<ion-tabs>
  <ion-tab-bar slot="bottom"> 
    <ion-tab-button tab="her" style="color: rgb(187, 56, 248)">
    <ion-label>Her</ion-label>
    <ion-icon name="woman"></ion-icon>
  </ion-tab-button>
    <ion-tab-button tab="his" style="color:rgb(187, 56, 248)">
      <ion-label>His</ion-label>
      <ion-icon name="Man"></ion-icon>
    </ion-tab-button>

  </ion-tab-bar>
</ion-tabs>
</ion-content>
