ion-tab-bar{
    --background: rgb(255, 65, 138);
}

ion-tab-button{
    
    --background: rgb(255, 65, 138);
}

ion-icon
{
    color: rgb(255, 255, 255);
}

ion-label
{
    color: rgb(255, 255, 255);
}