ion-item{
    --background: rgb(122, 205, 243);
    --color: rgb(190, 0, 89);
}

ion-toolbar{
    --background: rgb(156, 81, 241);
    --color: white;
}

ion-content{
    --background: rgb(122, 205, 243);
}

ion-toolbar ion-icon
{
    color:rgb(255, 15, 87);
}

ion-icon
{
    color: rgb(190, 0, 89);
}

